#pragma once
#include "XephEngine/Engine.h"
#include "src/Resources.h"

using namespace xe;

namespace C
{
	class @ : public Component
	{
	protected:
		//member variables here
	
	public:
		@(GameObject* gameObject);
		
		void Start();
		void Update();
	};
}

