#include "O_@.h"

namespace O
{
	@::@()
		: GameObject() {transform=startTransform;LoadComponents();}
	
	void @::LoadComponents()
	{
$		AddComponent(new C::@(this));
		//AddComponent(new Component(this));
	}
}
