#pragma once
#include "XephEngine/Engine.h"
#include "../src/Resources.h"

using namespace xe;

// ===== SCENE =====
 
class @Scene : public Scene
{
public:
	@Scene();
protected:
	void LoadTextures();
	void LoadFonts();
};

// ===== WORLD =====

class @World : public World
{
protected:
	void LoadGameObjects();
	
public:
	@World();
};

// ===== OVERLAY =====

