#include "@.h"

// ===== SCENE =====

@Scene::@Scene()
{
	world = new @World();
	overlay = new @Overlay();
}

// ===== WORLD =====

void @World::LoadGameObjects()
{
	//AddGameObject(new GameObject());
}

@World::@World()
	:World(){LoadGameObjects();}
	
// ===== OVERLAY =====
